.dropdown
  button.btn.btn-warning.btn-sm.fw-bold(
    type="button",
    data-bs-toggle="dropdown",
    aria-expanded="false",
    data-bs-auto-close="outside",
    x-html="$store.loc.l.pageRooms.actions.create.button"
  )
  form.dropdown-menu.p-3.mt-1.shadow-lg.bg-warning-subtle.bg-gradient(
    style="width: 300px",
    x-data="createRoom",
    x-id="['type', 'password']",
    @submit.prevent="createRoom()"
  )
    h5.mb-2(x-text="$store.loc.l.pageRooms.actions.create.title")
    .mb-3
      label.form-label(
        :for="$id('speed')",
        x-text="$store.loc.l.pageRooms.actions.create.difficulty.name"
      )
      .btn-group.w-100(
        role="group",
        aria-label="Базовая группа переключателей радио",
        x-id="['easy', 'medium', 'hard']"
      )
        input.btn-check(
          type="radio",
          autocomplete="off",
          x-model="speed",
          value="2",
          :id="$id('easy')"
        )
        label.btn.btn-sm.btn-outline-warning(
          :for="$id('easy')",
          x-text="$store.loc.l.pageRooms.actions.create.difficulty.easy"
        )
        input.btn-check(
          type="radio",
          autocomplete="off",
          x-model="speed",
          value="3",
          :id="$id('medium')"
        )
        label.btn.btn-sm.btn-outline-warning(
          :for="$id('medium')",
          x-text="$store.loc.l.pageRooms.actions.create.difficulty.medium"
        )
        input.btn-check(
          type="radio",
          autocomplete="off",
          x-model="speed",
          value="4",
          :id="$id('hard')"
        )
        label.btn.btn-sm.btn-outline-warning(
          :for="$id('hard')",
          x-text="$store.loc.l.pageRooms.actions.create.difficulty.hard"
        )
    .mb-3
      .form-check.form-switch
        input.form-check-input.checkbox-warning(
          type="checkbox",
          role="switch",
          x-model="type",
          :id="$id('type')"
        )
        label.form-check-label(
          :for="$id('type')",
          x-text="$store.loc.l.pageRooms.actions.create.includePassword"
        )
    .mb-3(:class="{ 'd-none': !type }")
      input.field(
        type="password",
        placeholder=" ",
        x-model="password",
        :id="$id('password')"
      )
      label(
        :for="$id('password')",
        x-text="$store.loc.l.pageRooms.actions.create.password"
      )

    button.btn.btn-warning.w-100(
      type="submit",
      :disabled="isLoading || (type && password?.length <= 4)",
      x-text="$store.loc.l.pageRooms.actions.create.submit"
    )
