.dropdown-center
  button.btn.btn-danger.btn-sm(
    type="button",
    data-bs-toggle="dropdown",
    aria-expanded="false",
    data-bs-auto-close="outside"
  )
    i.bi.bi-door-open-fill
    span.ms-1(x-text="$store.loc.l.pageRooms.actions.join.button")
  form.dropdown-menu.p-3.mt-1.shadow-lg.bg-light-subtle(
    style="width: 300px",
    x-data="joinPrivateRoom",
    x-id="['roomId', 'password']",
    @submit.prevent="join()"
  )
    h5.mb-2(x-text="$store.loc.l.pageRooms.actions.join.title")
    .mb-3
      input.form-control.form-control-sm(
        type="roomId",
        :placeholder="$store.loc.l.pageRooms.actions.join.roomId",
        x-model="roomId",
        :id="$id('roomId')"
      )
    .mb-3
      input.form-control.form-control-sm(
        type="text",
        style="-webkit-text-security: disc",
        :placeholder="$store.loc.l.pageRooms.actions.join.password",
        x-model="password",
        :id="$id('password')"
      )
    button.btn.btn-danger.w-100(
      type="submit",
      :disabled="isLoading || password?.length <= 4 || !roomId",
      x-text="$store.loc.l.pageRooms.actions.join.submit"
    )
