.dropdown-center
  button.btn.btn-warning.btn-sm.fw-bold(
    type="button",
    data-bs-toggle="dropdown",
    aria-expanded="false",
    data-bs-auto-close="outside"
  )
    i.bi.bi-door-open-fill
    span.ms-1(x-text="$store.loc.l.pageRooms.actions.join.button")
  form.dropdown-menu.p-3.mt-1.shadow-lg.bg-warning-subtle.bg-gradient(
    style="width: 300px",
    x-data="joinPrivateRoom",
    x-id="['roomId', 'password']",
    @submit.prevent="join()"
  )
    h5.mb-2(x-text="$store.loc.l.pageRooms.actions.join.title")
    .mb-3
      input.field(
        type="roomId",
        placeholder=" ",
        x-model="roomId",
        :id="$id('roomId')"
      )
      label(
        :for="$id('roomId')",
        x-text="$store.loc.l.pageRooms.actions.join.roomId"
      )
    .mb-3
      input.field(
        type="password",
        placeholder=" ",
        x-model="password",
        :id="$id('password')"
      )
      label(
        :for="$id('password')",
        x-text="$store.loc.l.pageRooms.actions.join.password"
      )

    button.btn.btn-warning.w-100(
      type="submit",
      :disabled="isLoading || password?.length <= 4 || !roomId",
      x-text="$store.loc.l.pageRooms.actions.join.submit"
    )
