mixin profileButton
  div(x-authredirect:unauthed="/sign")
    if block
      button(
        type="button",
        data-bs-toggle="offcanvas",
        data-bs-target="#profileToggle",
        aria-controls="profileToggle"
      )&attributes(attributes)
        block
    else
      button.btn.btn-danger.w-100(
        type="button",
        data-bs-toggle="offcanvas",
        data-bs-target="#profileToggle",
        aria-controls="profileToggle"
      )
        i.bi.bi-person-circle.me-1
        span(x-text="$store.loc.l.pageMain.actions.profile")
mixin profile
  #profileToggle.offcanvas.offcanvas-end(
    tabindex="-1",
    aria-labelledby="profileToggleLabel"
  )
    .offcanvas-header
      h5#profileToggleLabel.offcanvas-title(
        x-text="$store.loc.l.pageProfile.title"
      )
      button.btn-close(
        type="button",
        data-bs-dismiss="offcanvas",
        :aria-label="$store.loc.l.buttons.back"
      )
    .offcanvas-body(x-id="['lang', 'theme']")
      .container-fluid.px-0
        .row.mb-4
          .col
            .hstack.justify-content-between
              .display-1.text-truncate.mb-0(x-text="$store.user.login")

              button.btn.btn-sm.btn-dark(
                @click="$store.auth.signOut()",
                data-bs-dismiss="offcanvas",
                type="button"
              )
                i.bi.bi-box-arrow-right.me-2
                span(x-text="$store.loc.l.pageProfile.actions.signOut")
            hr
        template(x-if="!!$store.user.lang")
          .row.mb-3
            .col.d-flex.flex-column
              label.form-label(
                :for="$id('lang')",
                x-text="$store.loc.l.pageProfile.sysLang"
              )
              select.form-select(
                :id="$id('lang')",
                x-data="{ isLoading: false, lang: $store.user.lang }",
                @change="isLoading = true; await $store.loc.setLanguage($event.target.value, true); isLoading = false",
                :disabled="isLoading",
                x-model="lang"
              )
                option(
                  value="unset",
                  x-text="$store.loc.l.pageProfile.sysLang"
                )
                option(value="ru") Русский язык
                option(value="en") English language

        .row.mb-3
          .col
            .mb-3
              label.form-label(
                :for="$id('theme')",
                x-text="$store.loc.l.pageProfile.theme.label"
              )
              .btn-group.w-100(
                role="group",
                :aria-label="$store.loc.l.pageProfile.theme.label",
                x-id="['system', 'light', 'dark']"
              )
                input.btn-check(
                  type="radio",
                  autocomplete="off",
                  x-model="$store.user.theme",
                  value="system",
                  :id="$id('system')"
                )
                label.btn.btn-sm.btn-outline-danger(
                  :for="$id('system')",
                  x-text="$store.loc.l.pageProfile.theme.system"
                )
                input.btn-check(
                  type="radio",
                  autocomplete="off",
                  x-model="$store.user.theme",
                  value="light",
                  :id="$id('light')"
                )
                label.btn.btn-sm.btn-outline-danger(
                  :for="$id('light')",
                  x-text="$store.loc.l.pageProfile.theme.light"
                )
                input.btn-check(
                  type="radio",
                  autocomplete="off",
                  x-model="$store.user.theme",
                  value="dark",
                  :id="$id('dark')"
                )
                label.btn.btn-sm.btn-outline-danger(
                  :for="$id('dark')",
                  x-text="$store.loc.l.pageProfile.theme.dark"
                )
