include ../componentNavbar/_

.vstack.h-100(
  x-authredirect:unauthed="/sign",
  x-data="waitRoom",
  x-id="['roomId', 'password']"
)
  +navbar("", logo="$store.loc.l.pageRoomAwait.title")
    li.nav-item.me-auto
      button.nav-link.py-0(@click="exitRoom")
        i.bi.bi-chevron-compact-left
        span(x-text="$store.loc.l.pageRooms.title")
    +profileButton.nav-link.py-0
      i.bi.bi-person-circle.me-1
      span(x-text="$store.loc.l.pageMain.actions.profile")
  template(x-if="!!room")
    .container-fluid.pt-5
      .row
        .col-12
          .card.bg-danger-subtle
            .card-body
              .hstack.gap-1
                span(x-html="$store.loc.l.pageRoomAwait.roomId")
                input.form-control.form-control-sm.flex-shrink-1(
                  type="text",
                  readonly,
                  :value="room.id",
                  :id="$id('roomId')"
                )
                button.btn.btn-sm.btn-outline-danger(
                  type="button",
                  @click="document.getElementById($id('roomId')).select(); document.execCommand('copy')",
                  x-text="$store.loc.l.pageRoomAwait.actions.copy"
                )
              template(x-if="room.password")
                .hstack.gap-1.mt-2
                  span(x-html="$store.loc.l.pageRoomAwait.password")
                  input.form-control.form-control-sm.flex-shrink-1(
                    type="text",
                    readonly,
                    :value="room.password",
                    :id="$id('password')"
                  )
                  button.btn.btn-sm.btn-outline-danger(
                    type="button",
                    @click="document.getElementById($id('password')).select(); document.execCommand('copy')",
                    x-text="$store.loc.l.pageRoomAwait.actions.copy"
                  )
              .hstack.gap-2.justify-content-stretch.mt-3
                button.btn.btn-danger.flex-grow-1(
                  type="button",
                  x-show="room.owner?.login === Alpine.store('user').login",
                  :disabled="room.users.length < 2 || hideStartButton",
                  @click="startGame"
                )
                  i.bi.bi-joystick.me-1
                  span(x-text="$store.loc.l.pageRoomAwait.actions.start")
                button.btn.btn-outline-dark(
                  type="button",
                  :class="{ 'flex-grow-1': room.owner?.login !== Alpine.store('user').login }",
                  @click="exitRoom",
                  x-text="$store.loc.l.pageRoomAwait.actions.leave"
                )
      .row.mt-4.mb-2.align-items-end
        .col
          span(
            x-text="$store.loc.l.pageRoomAwait.progress + room.users.length + '/5'"
          )
        .col-auto
          span.badge.bg-success.float-end(
            x-text="$store.loc.l.badges[room.speed === 2 ? 'easy' : room.speed === 3 ? 'medium' : 'hard']",
            :class="{ 'bg-success': room.speed === 2, 'bg-warning': room.speed === 3, 'bg-danger': room.speed === 4 }"
          )
      .row
        .col-12
          ul.list-group.overflow-hidden(x-autoanimate)
            template(:key="user.id")&attributes({"x-for": "user in room.users"})
              li.list-group-item
                i.bi.bi-person-fill.me-1
                span(x-text="user.login")
            template(:key="num")&attributes({"x-for": "num in remaining"})
              li.list-group-item.placeholder-glow
                span.placeholder.w-50.border-2
