.container-fluid
  .row
    .col.text-center.mt-5
      .display-1.fw-bolder.text-warning Waiting rooms
  .row.py-5
    .col.d-flex.flex-column
      .semitransparent-container.container-fluid(x-data="roomsList")
        .row.justify-content-end
          .col-auto
            button.btn.btn-sm.btn-outline-warning
              i.bi.bi-arrow-repeat(aria-hidden="true")
          .col-auto.ps-0
            .dropdown-center
              button.btn.btn-warning.btn-sm.fw-bold(
                type="button",
                data-bs-toggle="dropdown",
                aria-expanded="false",
                data-bs-auto-close="outside"
              )
                i.bi.bi-door-open-fill
                span.ms-1 Join
              form.dropdown-menu.p-3.mt-1.shadow-lg.bg-warning-subtle.bg-gradient(
                style="width: 300px",
                x-data="joinPrivateRoom",
                x-id="['roomId', 'password']",
                @submit.prevent="join()"
              )
                h5.mb-2 Join room
                .mb-3
                  input.field(
                    type="roomId",
                    placeholder=" ",
                    x-model="roomId",
                    :id="$id('roomId')"
                  )
                  label(:for="$id('roomId')") Room ID
                .mb-3
                  input.field(
                    type="password",
                    placeholder=" ",
                    x-model="password",
                    :id="$id('password')"
                  )
                  label(:for="$id('password')") Password

                button.btn.btn-warning.w-100(
                  type="submit",
                  :disabled="isLoading || password?.length <= 4 || !roomId"
                ) Join room

          .col-auto.ps-0
            .dropdown
              button.btn.btn-warning.btn-sm.fw-bold(
                type="button",
                data-bs-toggle="dropdown",
                aria-expanded="false",
                data-bs-auto-close="outside"
              ) &#65291; Create
              form.dropdown-menu.p-3.mt-1.shadow-lg.bg-warning-subtle.bg-gradient(
                style="width: 300px",
                x-data="createRoom",
                x-id="['type', 'password']",
                @submit.prevent="createRoom()"
              )
                h5.mb-2 Create room
                .mb-3
                  label.form-label(:for="$id('speed')") Difficulty
                  .btn-group.w-100(
                    role="group",
                    aria-label="Базовая группа переключателей радио",
                    x-id="['easy', 'medium', 'hard']"
                  )
                    input.btn-check(
                      type="radio",
                      autocomplete="off",
                      x-model="speed",
                      value="2",
                      :id="$id('easy')"
                    )
                    label.btn.btn-sm.btn-outline-warning(:for="$id('easy')") Easy
                    input.btn-check(
                      type="radio",
                      autocomplete="off",
                      x-model="speed",
                      value="3",
                      :id="$id('medium')"
                    )
                    label.btn.btn-sm.btn-outline-warning(:for="$id('medium')") Medium
                    input.btn-check(
                      type="radio",
                      autocomplete="off",
                      x-model="speed",
                      value="4",
                      :id="$id('hard')"
                    )
                    label.btn.btn-sm.btn-outline-warning(:for="$id('hard')") Hard
                .mb-3
                  .form-check.form-switch
                    input.form-check-input.checkbox-warning(
                      type="checkbox",
                      role="switch",
                      x-model="type",
                      :id="$id('type')"
                    )
                    label.form-check-label(:for="$id('type')") With password?
                .mb-3(:class="{ 'd-none': !type }")
                  input.field(
                    type="password",
                    placeholder=" ",
                    x-model="password",
                    :id="$id('password')"
                  )
                  label(:for="$id('password')") Password

                button.btn.btn-warning.w-100(
                  type="submit",
                  :disabled="isLoading || (type && password?.length <= 4)"
                ) Create room

        .row.mt-3
          .col
            .list-group.overflow-hidden
              template(:key="room.id", x-data="selectRoom")&attributes({"x-for": "room in rooms"})
                button.list-group-item.list-group-item-warning.list-group-item-action.d-flex.justify-content-between.align-items-center(
                  x-data="{ hover: false }",
                  @click="selectRoom(room.id)",
                  :disabled="isLoading",
                  :class="{ active: hover, 'bg-transparent': !hover }",
                  @mouseover="hover = true",
                  @mouseout="hover = false"
                )
                  .ms-2.me-auto.d-flex.flex-column.row-gap-2.w-75
                    .fw-bold.text-truncate(x-text="`ID: ${room.id}`")
                    .progress(
                      role="progressbar",
                      aria-label="Пример информации",
                      aria-valuenow="4",
                      aria-valuemin="0",
                      aria-valuemax="5"
                    )
                      .progress-bar.overflow-visible.bg-success.progress-bar-striped.progress-bar-animated(
                        :style="`width: calc(${room.botsCount} / 5 * 100%)`",
                        x-text="`${room.botsCount}/5`"
                      )

                  span.badge.bg-success.rounded-pill(
                    x-text="`${room.speed === 2 ? 'Easy' : room.speed === 3 ? 'Med.' : 'Hard'}`",
                    :class="{ 'bg-success': room.speed === 2, 'bg-warning': room.speed === 3, 'bg-danger': room.speed === 4 }"
                  )
        .row.mt-3
          .col
            a.btn.btn-sm.w-100(x-link, href="/") Back
